{% import '_includes/forms' as forms %}

{{ forms.textField({
    label: "Title"|t('app'),
    id: 'title',
    name: 'title',
    value: notification.title,
    errors: notification.getErrors('title'),
    first: true,
    autofocus: true,
    required: true,
}) }}

{{ forms.textField({
    label: "Description"|t('app'),
    id: 'description',
    name: 'description',
    value: notification.description,
    errors: notification.getErrors('description'),
}) }}

<div id="notification-event"></div>
<div id="notification-message"></div>
<div id="notification-recipients"></div>
<div id="notification-test-button-bottom"></div>

{% css %}
#content :not(.meta) > .flex-fields > hr {
    margin-top: 20px !important;
}
{% endcss %}
