{% import '_includes/forms' as forms %}

<h2>Message Recipients</h2>
<p>Determine who will receive this message.</p>

<div id="message-recipients">

    {{ forms.selectField({
        label: "Send Message To"|t('notifier'),
        instructions: "Who should receive this message?"|t('notifier'),
        id: 'recipientsType',
        name: 'recipientsType',
        value: (message.recipientsType ?? null),
        options: {
            '': '',
            'all-users': 'All users',
            'all-admins': 'All admins',
            'all-users-in-group': 'All users in selected group(s)',
            'specific-users': 'Specific users',
            'specific-emails': 'Specific email addresses',
            'custom': 'Custom selection',
        },
        inputAttributes: {
            'v-model': 'recipientsType',
        }
    }) }}

    <div v-cloak v-if="'all-users' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-users' %}
    </div>
    <div v-cloak v-if="'all-admins' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-admins' %}
    </div>
    <div v-cloak v-if="'all-users-in-group' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-users-in-group' %}
    </div>
    <div v-cloak v-if="'specific-users' === recipientsType">
        {% include 'notifier/_form/message/recipients/specific-users' %}
    </div>
    <div v-cloak v-if="'specific-emails' === recipientsType">
        {% include 'notifier/_form/message/recipients/specific-emails' %}
    </div>
    <div v-cloak v-if="'custom' === recipientsType">
        {% include 'notifier/_form/message/recipients/custom' %}
    </div>

</div>

{% js %}
new Vue({
    el: '#message-recipients',
    data: {
        recipientsType: null,
        recipientsCustomType: null
    }
})
{% endjs %}
