{% import '_includes/forms' as forms %}

{# Get selected types #}
{% set recipientsType       = (message.config.recipients.type        ?? null) %}
{% set recipientsCustomType = (message.config.recipients.custom.type ?? null) %}

{# Pass data to Vue instance #}
{% set data = {
    'recipientsType': recipientsType,
    'recipientsCustomType': recipientsCustomType
} %}

<h2>Message Recipients</h2>
<p>Determine who will receive this message.</p>

<div id="message-recipients">

    {{ forms.selectField({
        label: "Send Message To"|t('notifier'),
        instructions: "Who should receive this message?"|t('notifier'),
        id: 'config-recipients-type',
        name: 'config[recipients][type]',
        options: notifierOptions.recipients.type,
        inputAttributes: {
            'v-model': 'recipientsType',
        }
    }) }}

    <div v-cloak v-if="'all-users' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-users' %}
    </div>
    <div v-cloak v-if="'all-admins' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-admins' %}
    </div>
    <div v-cloak v-if="'all-users-in-group' === recipientsType">
        {% include 'notifier/_form/message/recipients/all-users-in-group' %}
    </div>
    <div v-cloak v-if="'specific-users' === recipientsType">
        {% include 'notifier/_form/message/recipients/specific-users' %}
    </div>
    <div v-cloak v-if="'specific-emails' === recipientsType">
        {% include 'notifier/_form/message/recipients/specific-emails' %}
    </div>
    <div v-cloak v-if="'custom' === recipientsType">
        {% include 'notifier/_form/message/recipients/custom' %}
    </div>

</div>

{% js "window.data = #{data|json_encode|raw}" %}
{% js %}
new Vue({
    el: '#message-recipients',
    delimiters: ['[[', ']]'],
    data: window.data,
    updated() {
        if ('all-users-in-group' === this.recipientsType) {
            // Re-initialize all Craft UI elements
            Craft.initUiElements();
        }
    }
});
{% endjs %}
