{% import '_includes/forms' as forms %}

<h2>Message Body Configuration</h2>
<p>Configure your notification message as desired.</p>

<div id="message-body">

    {{ forms.selectField({
        label: "Message Type"|t('notifier'),
        instructions: "While in beta, only **email** messages are available."|t('notifier'),
        id: 'type',
        name: 'type',
        options: {
            'email': 'Email',
        },
        value: (message ? message.type)
    }) }}
    {# 'sms': 'SMS (Text Message)' #}

    {{ forms.autosuggestField({
        label: "Message Template"|t('notifier'),
        instructions: "Which Twig template will be used to generate the message body?"|t('notifier'),
        id: 'template',
        name: 'template',
        suggestions: craft.cp.getTemplateSuggestions(),
        value: (message ? message.template)
    }) }}

    {{ forms.textField({
        label: "Message Subject"|t('notifier'),
        instructions: "For email messages only. Will parse Twig tags."|t('notifier'),
        id: 'subject',
        name: 'subject',
        value: (message ? message.subject)
    }) }}

</div>
