{% import '_includes/forms' as forms %}

<h2>Configure the Message</h2>

<div id="message-body" style="margin-top:24px">

    {{ forms.selectField({
        label: "Message Type"|t('notifier'),
        instructions: "**BETA:** Only email messages are available in beta."|t('notifier'),
        id: 'type',
        name: 'type',
        options: {
            'email': 'Email',
        },
        value: (message.type ?? null)
    }) }}
    {# 'sms': 'SMS (Text Message)' #}

    {{ forms.autosuggestField({
        label: "Message Template"|t('notifier'),
        instructions: "Select a Twig template to generate the message body. Learn more about [automatic variables](https://plugins.doublesecretagency.com/notifier/messages/variables/)."|t('notifier'),
        id: 'template',
        name: 'template',
        suggestions: craft.cp.getTemplateSuggestions(),
        value: (message.template ?? null)
    }) }}

    {{ forms.textField({
        label: "Email Subject"|t('notifier'),
        instructions: "Can parse complete Twig tags (including [automatic variables](https://plugins.doublesecretagency.com/notifier/messages/variables/)), or short `{object}` syntax for trigger element."|t('notifier'),
        id: 'config[subject]',
        name: 'config[subject]',
        value: (message.config.subject ?? null)
    }) }}

</div>
