{% extends '_layouts/cp' %}
{% set fullPageForm = true %}

{# Load assets #}
{% do view.registerAssetBundle(notifierAssets) %}

{% set existing = (messageId ?? false) %}

{% if existing %}
    {% set message     = notifier.getMessageById(messageId) %}
    {% set messageType = 'Send an Email' %} {# TEMP #}
    {% set title       = messageType %}
{% else %}
    {% set message     = null %}
    {% set messageType = null %}
    {% set title       = 'Add a New Message'|t('notifier') %}
{% endif %}

{% set trigger = notifier.getTriggerById(triggerId) %}
{% set triggerType = notifierOptions.triggers.event[trigger.event] %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
    {'label': triggerType, 'url': url("notifier/trigger/#{triggerId}")},
] %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
{% endblock %}

{% set content %}
    {{ actionInput('notifier/message/save') }}
    {{ hiddenInput('triggerId', triggerId) }}
    {{ existing ? hiddenInput('id', messageId) }}

    <div class="flex-fields">
        {% include 'notifier/_form/message/body' %}
        <hr>
        {% include 'notifier/_form/message/recipients' %}
    </div>

{% endset %}
