/**
 * Initially copied from:
 * https://github.com/craftcms/webhooks/blob/3.x/src/assets/edit/dist/css/edit-webhook.css
 */

.filter-pane {
  position: relative;
  display: inline-block;
  background-color: var(--gray-050);
  border: none !important;
  box-shadow: 0 0 0 1px #cdd8e4,0 2px 12px rgba(205,216,228,.5) !important;
  &.pane:first-child {
    margin-top: 9px !important;
  }
  p {
    display: inline-block;
  }
}

.no-filters {
  margin: 0;
}

.filters {
  tr:first-child > * {
    border-top: none;
    padding-top: 0;
  }
  tr:last-child > * {
    border-bottom: none;
    padding-bottom: 0;
  }
  th {
    font-weight: normal;
  }
  .btngroup:focus {
    outline: none;
  }
  .btn[data-icon]:before {
    margin-top: -2px;
    width: 1em;
  }
  .filter-yes {
    color: #27ae60;
  }
  .filter-no {
    color: #d0021b;
  }
  .filter-ignore .status {
    margin: 0;
  }
}

.filter-spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
}
