{% import '_includes/forms' as forms %}

<div>
    {{ forms.textField({
        label: "Event Configuration"|t('notifier'),
        id: 'eventConfig',
        name: 'eventConfig',
        value: notification.eventConfig,
        errors: notification.getErrors('eventConfig'),
    }) }}
    {{ forms.textField({
        label: "Email Subject"|t('notifier'),
        instructions: "Can parse complete Twig tags (including [automatic variables](https://plugins.doublesecretagency.com/notifier/messages/variables/)), or short `{object}` syntax for trigger element."|t('notifier'),
        id: 'config[subject]',
        name: 'config[subject]',
        value: (message.config.subject ?? null)
    }) }}
</div>
