{% extends '_layouts/cp' %}
{% set title = 'Manage Notifications'|t('notifier') %}

{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
] %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('notifier/trigger/new') }}" role="button" tabindex="0">
        {{ 'Add a notification trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <div>

        {% for trigger in notifier.getTriggers() %}

            <div class="grid-container">
                <div class="collapse">
                    <div class="chevron"></div>
                </div>
                {% include 'notifier/_block/trigger' with {
                    'trigger': trigger,
                } only %}
                <div>
                    {% for message in trigger.getMessages() %}
                        {% include 'notifier/_block/message' with {
                            'trigger': trigger,
                            'message': message,
                        } only %}
                    {% endfor %}
                    <a class="btn submit add icon" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/new") }}" role="button" tabindex="0">
                        Add a message
                    </a>
                </div>
            </div>

        {% else %}

            <p><strong>No existing notifications.</strong> To get started, <a href="{{ cpUrl('notifier/trigger/new') }}">add a notification trigger...</a></p>

        {% endfor %}

    </div>

{% endset %}

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 16px 40% auto;
    grid-gap: 12px;
    margin-bottom: 16px;
}
.chevron {
    margin-top: 5px;
    display: block;
    content: '';
    font-size: 0;
    width: 8px;
    height: 8px;
    border: solid #596673;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}

.notifier-message {
    margin-bottom: 14px;
}
{% endcss %}
