{% extends '_layouts/cp' %}
{% set title = 'Manage Notifications'|t('notifier') %}

{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
] %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('notifier/trigger/new') }}" role="button" tabindex="0">
        {{ 'Add a notification trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <div>

        {% set triggers = notifier.getTriggers() %}

        {% if triggers %}

            <div class="grid-container">

                <div></div>
                <div><h2>Triggers</h2></div>
                <div><h2>Messages</h2></div>

                {% for trigger in triggers %}
                    <div class="collapse">
                        <div class="chevron"></div>
                    </div>
                    {% include 'notifier/_block/trigger' with {
                        'trigger': trigger,
                    } only %}
                    <div>
                        {% for message in trigger.getMessages() %}
                            {% include 'notifier/_block/message' with {
                                'trigger': trigger,
                                'message': message,
                            } only %}
                        {% endfor %}
                        <a class="btn submit add icon" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/new") }}" role="button" tabindex="0">
                            Add a notification message
                        </a>
                    </div>
                {% endfor %}

            </div>

        {% else %}

            <p><strong>No existing notifications.</strong> To get started, <a href="{{ cpUrl('notifier/trigger/new') }}">add a notification trigger...</a></p>

        {% endif %}

    </div>

{% endset %}

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 26px 39% auto;
    /*grid-gap: 12px;*/
    margin-bottom: 16px;
}
.grid-container h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 10px;
}
.grid-container .btn {
    margin-top: 10px;
    margin-bottom: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.chevron {
    margin-top: 19px;
    display: block;
    content: '';
    font-size: 0;
    width: 8px;
    height: 8px;
    border: solid #596673;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}

.notifier-trigger {
    margin-top: 8px;
    margin-bottom: 4px;
    border-top-left-radius: 5px;
}
.notifier-message {
    margin-top: 8px;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
{% endcss %}
