{% extends '_layouts/cp' %}
{% set title = 'All Notifications'|t('notifier') %}

{# Load assets #}
{% do view.registerAssetBundle(notifierAssets) %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('notifier/trigger/new') }}" role="button" tabindex="0">
        {{ 'Add a trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <div>

        {% set triggers = notifier.getTriggers() %}

        {% if triggers %}

            <div class="grid-container">
                {% for trigger in triggers %}
                        {% include 'notifier/_block/trigger' with {
                            'controls': true,
                            'trigger': trigger,
                        } only %}
                        <div class="trigger-messages">
                            {% for message in trigger.getMessages() %}
                                {% include 'notifier/_block/message' with {
                                    'controls': true,
                                    'trigger': trigger,
                                    'message': message,
                                } only %}
                            {% endfor %}
                            <a class="btn submit add icon" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/new") }}" role="button" tabindex="0">
                                Add a message
                            </a>
                        </div>
                {% endfor %}
            </div>

        {% else %}

            <h2>How to Configure a Notification</h2>
            <ol>
                <li>Create a <strong>trigger</strong> to fire off the message.</li>
                <li>Create a <strong>message</strong> to be customized via Twig.</li>
            </ol>

            <hr>

            <p><strong>No existing notifications.</strong> To get started, <a href="{{ cpUrl('notifier/trigger/new') }}">add a notification trigger...</a></p>

        {% endif %}

    </div>

{% endset %}

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 39% auto;
    /*grid-gap: 12px;*/
    margin-bottom: 16px;
}
.grid-container h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 10px;
}
.grid-container .btn {
    margin-top: 14px;
    margin-bottom: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* ========================================================================= */

.notifier-trigger-container {
    display: grid;
    grid-template-columns: 34px auto;
}
.notifier-message-container {
    display: grid;
    grid-template-columns: auto 34px;
}

/* ========================================================================= */

.notifier-trigger {
    margin-top: 8px;
    margin-bottom: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.notifier-message {
    margin-top: 8px;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ========================================================================= */

.notifier-trigger table.expanded {
    border-bottom: 1px solid #d4e0ef;
}
{% endcss %}
