{% extends '_layouts/cp' %}
{% set title = 'Manage Notifications'|t('notifier') %}

{% set crumbs = [
    {'label': 'Notifier'|t('notifier'), 'url': url('notifier')},
] %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ cpUrl('notifier/trigger/new') }}" role="button" tabindex="0">
        {{ 'Add a notification trigger'|t('notifier') }}
    </a>
{% endblock %}

{% set content %}

    <div>

        {% for trigger in notifier.getTriggers() %}

            <div class="grid-container">
                <div class="collapse">
                    <div class="chevron"></div>
                </div>
                {% include 'notifier/_block/trigger' %}
                <div>
                    {% for message in trigger.getMessages() %}
                        {% include 'notifier/_block/message' %}
                    {% endfor %}
                    <a class="btn submit add icon" href="{{ cpUrl("notifier/trigger/#{trigger.id}/message/new") }}" role="button" tabindex="0">
                        Add a message
                    </a>
                </div>
            </div>

        {% else %}

            <p><strong>No existing notifications.</strong> To get started, <a href="{{ cpUrl('notifier/trigger/new') }}">add a notification trigger...</a></p>

        {% endfor %}

    </div>

{% endset %}

{% css %}
.grid-container {
    display: grid;
    grid-template-columns: 16px 40% auto;
    grid-gap: 6px;
    margin-bottom: 16px;
}
.grid-container .block-label {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 6px;
}
.grid-container table {
    margin-left: 4px;
}
.grid-container table td {
    padding: 4px !important;
}
.grid-container table td:nth-child(1) {
    font-weight: bold;
    text-align: right;
}
.chevron {
    margin-top: 5px;
    display: block;
    content: '';
    font-size: 0;
    width: 8px;
    height: 8px;
    border: solid #596673;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}
.trigger {
    color: #ffffff;
    background-color: #8b1b31;
    display: block;
    cursor: pointer;
    padding: 10px 16px;
}
.trigger:hover {
    color: #000000;
    background-color: #e3534c;
    text-decoration: none;
}
.message {
    color: #ffffff;
    background-color: #7b9033;
    display: block;
    cursor: pointer;
    padding: 10px 16px;
    margin-bottom: 6px;
}
.message:hover {
    color: #000000;
    background-color: #91ae5f;
    text-decoration: none;
}
{% endcss %}
