{% set templatingUrl = 'https://plugins.doublesecretagency.com/notifier/messages/templating' %}

<p>Additional filtering of Users can be done at the <a href="{{ templatingUrl }}" target="_blank">template level</a>.</p>
