{% set skipMessageUrl = 'https://plugins.doublesecretagency.com/notifier/messages/skip' %}

<p><strong>Additional Filtering of Recipients</strong></p>
<p>Within the context of the Twig message body, you can <a href="{{ skipMessageUrl }}" target="_blank">skip a recipient</a> if they don't meet certain conditions.</p>
