{% import '_includes/forms' as forms %}

<div class="message-type-announcement hidden">
    {{ forms.lightswitchField({
        label: "Restricted to Admins Only?"|t('notifier'),
        instructions: "Whether the announcement will be shown to all CP users, or only Admins.",
        id: 'recipientsConfig-adminsOnly',
        name: 'recipientsConfig[adminsOnly]',
        offLabel: 'All Control Panel Users',
        onLabel: 'Admins Only',
        on: (notification.recipientsConfig.adminsOnly ?? true),
    }) }}
</div>
