{% set data = [] %}
{% set t = notifierOptions.triggers %}

{% for key,val in trigger.config %}
    {% switch key %}
    {% case 'newExisting' %}
        {% if 'both' == val %}
            {% set data = data|merge(['Both New & Existing']) %}
        {% elseif (t.newExisting[val] ?? false) %}
            {% set data = data|merge([t.newExisting[val]]) %}
        {% endif %}
    {% case 'includeDraftsAndRevisions' %}
        {% set draftsRevisions = (val ? 'Include Drafts/Revisions' : 'Exclude Drafts/Revisions') %}
        {% set data = data|merge([draftsRevisions]) %}
    {% case 'sections' %}
        {% set sections = val %}
        {% if '*' == sections %}
            {% set data = data|merge(['All sections']) %}
        {% elseif '' == sections %}
            {% set data = data|merge(['None selected']) %}
        {% elseif sections is iterable %}
            {% set allSections %}
                {%- for s in sections -%}
                    {{- not loop.first ? ', ' -}}
                    {{- craft.app.sections.getSectionById(s).name ?? false -}}
                {%- endfor -%}
            {% endset %}
            {% set data = data|merge([allSections|trim]) %}
        {% endif %}
    {% endswitch %}
{% endfor %}

<div class="collapsed">
    {{ data|join(' &nbsp;&bull;&nbsp; ')|raw }}
</div>
