{% set data = [] %}
{% set t = notifierOptions.triggers %}
{% set config = (trigger.config ?? {}) %}

{% if (config.newExisting ?? false) %}
    {% set selected = config.newExisting %}
    {% if 'both' == selected %}
        {% set newExisting = 'Both New & Existing' %}
    {% elseif (t.newExisting[selected] ?? false) %}
        {% set newExisting = t.newExisting[selected] %}
    {% endif %}
    {% set data = data|merge(["<strong>#{newExisting}</strong>"]) %}
{% endif %}

{% set includeDraftsAndRevisions = (config.includeDraftsAndRevisions ?? false) %}
{% set draftsRevisions = (includeDraftsAndRevisions ? 'Include Drafts/Revisions' : 'Exclude Drafts/Revisions') %}
{% set data = data|merge([draftsRevisions]) %}

{% for sectionId,section in notifierOptions.triggers.sectionsEntryTypes %}
    {% if sectionId in config.sections %}
        {% set types = [] %}
        {% for typeId,type in section.entryTypes %}
            {% if typeId in (config.entryTypes ?? []) %}
                {% set types = types|merge([type]) %}
            {% endif %}
        {% endfor %}
        {% set sectionWithTypes = "<strong>#{section.name}</strong> &rarr; #{types|join(', ')}" %}
        {% set data = data|merge([sectionWithTypes]) %}
    {% endif %}
{% endfor %}

<div class="collapsed">
    {{ data|join(' &nbsp;&bull;&nbsp; ')|raw }}
</div>
