<table class="expanded">
    <colgroup>
        <col style="width:100px">
        <col>
    </colgroup>

    {% for key,val in trigger.config %}
        {% switch key %}
        {% case 'newExisting' %}
            <tr>
                <td>New/Existing:</td>
                <td>{{ notifierOptions.triggers.newExisting[val] ?? false }}</td>
            </tr>
        {% case 'includeDraftsAndRevisions' %}
            <tr>
                <td>+Drafts/Revisions:</td>
                <td>{{ val ? 'Yes' : 'No' }}</td>
            </tr>
        {% endswitch %}
    {% endfor %}

    {% for sectionId,section in notifierOptions.triggers.sectionsEntryTypes if sectionId in trigger.config.sections %}
        <tr>
            <td style="vertical-align:top">{{ section.name }} &rarr;</td>
            <td style="vertical-align:top">
                <ul>
                    {% for typeId,type in section.entryTypes if typeId in trigger.config.entryTypes %}
                        <li>{{ type }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}

</table>
