<table class="expanded">
    <colgroup>
        <col style="width:100px">
        <col>
    </colgroup>
    {% for key,val in trigger.config %}
        {% switch key %}
        {% case 'newExisting' %}
            <tr>
                <td>New/Existing:</td>
                <td>{{ notifierOptions.triggers.newExisting[val] ?? false }}</td>
            </tr>
        {% case 'includeDraftsAndRevisions' %}
            <tr>
                <td>+Drafts/Revisions:</td>
                <td>{{ val ? 'Yes' : 'No' }}</td>
            </tr>
        {% case 'sections' %}
            {% set sections = val %}
            <tr>
                <td>Sections:</td>
                <td>
                    {% if '*' == sections %}
                        All sections
                    {% elseif '' == sections %}
                        None selected
                    {% elseif sections is iterable %}
                        {% for s in sections %}
                            {{ not loop.first ? ', ' }}
                            {{ craft.app.sections.getSectionById(s).name ?? false }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endswitch %}
    {% endfor %}
</table>
