<table class="expanded">
    <colgroup>
        <col style="width:100px">
        <col>
    </colgroup>
    {% for key,val in trigger.config %}
        {% switch key %}
        {% case 'drafts' %}
            <tr>
                <td>Drafts:</td>
                <td>{{ notifierOptions.triggers.drafts[val] ?? false }}</td>
            </tr>
        {% case 'freshness' %}
            <tr>
                <td>Freshness:</td>
                <td>{{ notifierOptions.triggers.freshness[val] ?? false }}</td>
            </tr>
        {% case 'sections' %}
            {% set sections = val %}
            <tr>
                <td>Sections:</td>
                <td>
                    {% if '*' == sections %}
                        All sections
                    {% elseif '' == sections %}
                        None selected
                    {% elseif sections is iterable %}
                        {% for s in sections %}
                            {{ not loop.first ? ', ' }}
                            {{ craft.app.sections.getSectionById(s).name ?? false }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endswitch %}
    {% endfor %}
</table>
