{% set t = notifierOptions.triggers %}
{% set config = (trigger.config ?? {}) %}

<table class="expanded">
    <colgroup>
        <col style="width:100px">
        <col>
    </colgroup>

    {% if (config.newExisting ?? false) %}
        {% set selected = config.newExisting %}
        <tr>
            <td>New/Existing:</td>
            <td>{{ t.newExisting[selected] ?? false }}</td>
        </tr>
    {% endif %}

    {% set includeDraftsAndRevisions = (config.includeDraftsAndRevisions ?? false) %}
    <tr>
        <td>+Drafts/Revisions:</td>
        <td>{{ includeDraftsAndRevisions ? 'Yes' : 'No' }}</td>
    </tr>

    {% for sectionId,section in t.sectionsEntryTypes %}
        {% if sectionId in config.sections %}
            <tr>
                <td style="vertical-align:top">{{ section.name }} &rarr;</td>
                <td style="vertical-align:top">
                    <ul>
                        {% for typeId,type in section.entryTypes %}
                            {% if typeId in (config.entryTypes ?? []) %}
                                <li>{{ type }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

</table>
