<div id="trigger-{{ trigger.id }}" class="notifier-trigger-container">
    {% include 'notifier/_block/controls' with {
        'type': 'trigger',
        'deleteAction': "deleteTrigger(#{trigger.id})",
        'editUrl': cpUrl("notifier/trigger/#{trigger.id}"),
    } %}
    <div class="notifier-block notifier-trigger">

        {% switch trigger.event %}
            {% case 'Entry::EVENT_AFTER_SAVE' %}
                <div class="block-label">When an Entry is saved...</div>
            {% default %}
                <div class="block-label">{{ trigger.event }}...</div>
        {% endswitch %}

        <template v-cloak v-if="expanded">
            {% include 'notifier/_block/trigger/expanded' %}
        </template>
        <template v-cloak v-if="!expanded">
            {% include 'notifier/_block/trigger/collapsed' %}
        </template>

    </div>
</div>

{% set expanded = (controls ? 'false' : 'true') %}
{% js "triggerBlock(#{trigger.id}, #{expanded});" %}

