{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set messages = (trigger.getMessages() ?? []) %}

{% if messages %}

    <hr>

    <h2>Related Notification Messages</h2>
    <p>These messages will be sent when the trigger is activated.</p>

    <div class="flex">
        {% for message in messages %}
            {% include 'notifier/_block/message' with {
                'trigger': trigger,
                'message': message,
            } only %}
        {% endfor %}
    </div>

{% endif %}
