{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set messages = (trigger.getMessages() ?? []) %}

{% if messages %}

    <hr>

    <h2>Related Messages</h2>
    <div class="flex">
        {% for message in messages %}
            {% include 'notifier/_block/message' with {
                'controls': false,
                'trigger': trigger,
                'message': message,
            } only %}
        {% endfor %}
    </div>

{% endif %}
