{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set trigger = notifier.getTriggerById(triggerId) %}

{% if trigger %}

    <h2>Related Trigger</h2>
    {% include 'notifier/_block/trigger' with {
        'controls': false,
        'trigger': trigger,
    } only %}

{% endif %}
