{# Load shared resources #}
{% do view.registerAssetBundle('doublesecretagency\\notifier\\web\\assets\\NotifierAsset') %}

{% set trigger = notifier.getTriggerById(triggerId) %}

{% if trigger %}

    <h2>Related Notification Trigger</h2>
    <p>This event is responsible for triggering the message.</p>

    {% include 'notifier/_block/trigger' with {
        'trigger': trigger,
    } only %}

{% endif %}
