.notifier-trigger {
    border-color: #bcd0e3;
    background-color: #e3edf6;
}
.notifier-trigger .block-label {
    background-color: #bcd0e3;
}

.notifier-message {
    border-color: #d4e0ef;
    background-color: #f3f7fc;
}
.notifier-message .block-label {
    background-color: #d4e0ef;
}

/* ========================================================================= */

.notifier-block {
    color: #3f4d5a;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 0 1px rgba(205, 216, 228, 0.25), 0 2px 12px rgba(205, 216, 228, 0.5);
    overflow: hidden;
}
.notifier-block:hover {
    text-decoration: none;
}

/* ========================================================================= */

.notifier-block .block-label {
    color: #596673;
    font-size: 1.1em;
    font-weight: bold;
    padding: 12px 24px 12px;
}

.notifier-block table {
    margin-left: 4px;
}
.notifier-block table td {
    padding: 4px !important;
}
.notifier-block table td:nth-child(1) {
    font-weight: bold;
    text-align: right;
}
