{% import '_includes/forms' as forms %}

<h2>How will the notification be activated?</h2>

{{ forms.selectField({
    label: "Event Trigger"|t('notifier'),
    instructions: "Which Craft (or plugin) event will activate the notification?",
    id: 'event',
    name: 'event',
    options: craft.notifier.eventsOptions,
    value: notification.event,
}) }}

{#<div class="vue-box">#}
{#    {% include 'notifier/notifications/_edit/triggers/entry-after-propagate' %}#}
{#</div>#}
