{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: "Get Recipients"|t('notifier'),
    instructions: "How should the list of recipients be collected?"|t('notifier'),
    id: 'config-recipients-custom-type',
    name: 'config[recipients][custom][type]',
    value: (message.config.recipients.custom.type ?? null),
    options: {
        '': '',
        'users': 'Get a collection of Users',
        'emails': 'Get a collection of email addresses',
    },
    inputAttributes: {
        'v-model': 'recipientsCustomType',
    }
}) }}

{# Get custom field instructions #}
{% set usersInstructions  = include('notifier/_form/message/recipients/custom/users-instructions') %}
{% set emailsInstructions = include('notifier/_form/message/recipients/custom/emails-instructions') %}

{# Get default custom snippets #}
{% set usersSnippet  = include('notifier/_form/message/recipients/custom/users-snippet') %}
{% set emailsSnippet = include('notifier/_form/message/recipients/custom/emails-snippet') %}

<div v-cloak v-if="'users' === recipientsCustomType">
    {{ forms.textareaField({
        label: "Snippet to Identify Users"|t('notifier'),
        instructions: usersInstructions,
        id: 'config-recipients-custom-users',
        name: 'config[recipients][custom][users]',
        value: (message.config.recipients.custom.users ?? usersSnippet),
        class: 'code',
        rows: 12,
    }) }}
</div>

<div v-cloak v-if="'emails' === recipientsCustomType">
    {{ forms.textareaField({
        label: "Snippet to Identify Email Addresses"|t('notifier'),
        instructions: emailsInstructions,
        id: 'config-recipients-custom-emails',
        name: 'config[recipients][custom][emails]',
        value: (message.config.recipients.custom.emails ?? emailsSnippet),
        class: 'code',
        rows: 12,
    }) }}
</div>

<div class="available-variables" v-cloak v-if="['users','emails'].indexOf(recipientsCustomType) !== -1">
    <hr>
    {% include 'notifier/_form/message/recipients/custom/variables' %}
</div>

{% css %}
.available-variables {
    margin-top: 20px;
}
.available-variables table {
    border: 1px solid #999999
}
{% endcss %}
