These Users will be the recipients of your message. Read more about working with <a href="https://craftcms.com/docs/3.x/users.html#querying-users" target="_blank">User Queries</a>.

Use this snippet to generate a custom array of Users. You **must** use the snippet to render a JSON encoded array of User IDs.
