<h4>Potentially Available Variables</h4>
<p>One or more Twig variables may be automatically available in this context. Which variables are available depends entirely on how the notification will be triggered.</p>
<table class="data">
    <tr>
        <td class="code">entry</td>
        <td>The Entry which triggered this message.</td>
    </tr>
    <tr>
        <td class="code">currentUser</td>
        <td>The active User who saved the Entry.</td>
    </tr>
</table>
