{% import '_includes/forms' as forms %}

{# Load field info #}
{% set instructions = include('notifier/notifications/_edit/recipients/custom-recipients/instructions') %}
{% set placeholder  = include('notifier/notifications/_edit/recipients/custom-recipients/placeholder') %}

<div class="recipients-type-custom-recipients hidden">
{#    <h2>Custom Recipients</h2>#}
{#    <p>Enter (or <code>include</code>) a custom Twig snippet to determine who should receive the message.</p>#}

    {{ forms.textareaField({
        label: "Get Recipients Dynamically"|t('notifier'),
        instructions: instructions,
        placeholder: placeholder,
        id: 'config-recipients-custom-users',
        name: 'config[recipients][custom][users]',
        class: 'code',
        rows: 12,
    }) }}
    {#value: (message.config.recipients.custom.users ?? usersSnippet),#}

    <p>Please read the full documentation for <a href="#" target="_blank">custom recipients</a>.</p>
</div>
