{% import '_includes/forms' as forms %}

<div class="message-type-announcement hidden">
    <hr>

    {% include 'notifier/notifications/_edit/message/docs-links' %}

    {{ forms.textField({
        label: "Announcement Title"|t('notifier'),
        instructions: "First line of the announcement, in larger bold letters.",
        id: 'messageConfig-announcementTitle',
        name: 'messageConfig[announcementTitle]',
        value: (notification.messageConfig.announcementTitle ?? null),
        errors: notification.getErrors('messageConfig[announcementTitle]'),
    }) }}

    {{ forms.textareaField({
        label: "Announcement Message"|t('notifier'),
        instructions: "Main body of the announcement.",
        placeholder: commonPlaceholder,
        rows: 3,
        id: 'messageConfig-announcementMessage',
        name: 'messageConfig[announcementMessage]',
        value: (notification.messageConfig.announcementMessage ?? null),
        errors: notification.getErrors('messageConfig[announcementMessage]'),
    }) }}
</div>
