{% import '_includes/forms' as forms %}

<div class="message-type-announcement hidden">
    {{ forms.textField({
        label: "Announcement Title"|t('notifier'),
        id: 'messageConfig-announcementTitle',
        name: 'messageConfig[announcementTitle]',
        value: (notification.messageConfig.announcementTitle ?? null),
        errors: notification.getErrors('messageConfig[announcementTitle]'),
    }) }}

    {{ forms.textareaField({
        label: "Announcement Message"|t('notifier'),
        instructions: commonInstructions,
        placeholder: commonPlaceholder,
        rows: 3,
        id: 'messageConfig-announcementMessage',
        name: 'messageConfig[announcementMessage]',
        value: (notification.messageConfig.announcementMessage ?? null),
        errors: notification.getErrors('messageConfig[announcementMessage]'),
    }) }}
</div>
