<div class="readable">
    <blockquote class="note tip">
        <p>
            All text fields can use
            <a href="https://plugins.doublesecretagency.com/notifier/messages/templating" rel="noopener" target="_blank">templating</a>
            and special
            <a href="https://plugins.doublesecretagency.com/notifier/messages/variables" rel="noopener" target="_blank">variables</a>.
        </p>
    </blockquote>
</div>
