{% import '_includes/forms' as forms %}

<div class="message-type-email hidden">
    {{ forms.selectField({
        label: "User's Email Address Field"|t('notifier'),
        instructions: fieldInstructions|t('notifier', {'type' : 'email address'}),
        id: 'messageConfig-emailField',
        name: 'messageConfig[emailField]',
        value: (notification.messageConfig.emailField ?? null),
        options: notificationOptions.emailField,
    }) }}

    {{ forms.textField({
        label: "Email Subject"|t('notifier'),
        instructions: commonInstructions,
        id: 'messageConfig-emailSubject',
        name: 'messageConfig[emailSubject]',
        value: (notification.messageConfig.emailSubject ?? null),
        errors: notification.getErrors('messageConfig[emailSubject]'),
    }) }}

    {{ forms.textareaField({
        label: "Email Message"|t('notifier'),
        instructions: commonInstructions,
        placeholder: commonPlaceholder,
        rows: 6,
        id: 'messageConfig-emailMessage',
        name: 'messageConfig[emailMessage]',
        value: (notification.messageConfig.emailMessage ?? null),
        errors: notification.getErrors('messageConfig[emailMessage]'),
    }) }}

    {{ forms.lightswitchField({
        label: "Send Message via Queue"|t('notifier'),
        instructions: queueInstructions,
        id: 'messageConfig-emailQueue',
        name: 'messageConfig[emailQueue]',
        offLabel: 'Send immediately',
        onLabel: 'Add to queue',
        on: (notification.messageConfig.emailQueue ?? true),
    }) }}
</div>
