{% import '_includes/forms' as forms %}

<div class="message-type-flash hidden">
    {{ forms.selectField({
        label: "Flash Message Type"|t('notifier'),
        instructions: "Which type of flash message should appear?"|t('notifier'),
        id: 'messageConfig-flashType',
        name: 'messageConfig[flashType]',
        value: (notification.messageConfig.flashType ?? null),
        options: notificationOptions.flashType,
    }) }}

    <hr>

    {% include 'notifier/notifications/_edit/message/docs-links' %}

    {{ forms.textField({
        label: "Flash Message Title"|t('notifier'),
        instructions: "Primary message, displayed in bold.",
        id: 'messageConfig-flashTitle',
        name: 'messageConfig[flashTitle]',
        value: (notification.messageConfig.flashTitle ?? null),
        errors: notification.getErrors('messageConfig[flashTitle]'),
    }) }}

    {{ forms.textareaField({
        label: "Flash Message Details"|t('notifier'),
        instructions: "Optional message details.",
        placeholder: commonPlaceholder,
        rows: 2,
        id: 'messageConfig-flashDetails',
        name: 'messageConfig[flashDetails]',
        value: (notification.messageConfig.flashDetails ?? null),
        errors: notification.getErrors('messageConfig[flashDetails]'),
    }) }}
</div>
