{% import '_includes/forms' as forms %}

{# Common instructions for various dynamic text fields #}
{% set commonInstructions = "Learn more about [templating]({templatingUrl}) and [special variables]({variablesUrl})."|t('notifier', {
    'templatingUrl' : 'https://plugins.doublesecretagency.com/notifier/messages/templating',
    'variablesUrl'  : 'https://plugins.doublesecretagency.com/notifier/messages/variables',
}) %}

{# Common placeholder for various dynamic text fields #}
{% set commonPlaceholder = "{% include 'path/to/template' %}" %}

{# Instructions for the jobs queue #}
{% set queueInstructions = "Should the message be sent via the [jobs queue]({queueUrl})?"|t('notifier', {
    'queueUrl' : 'https://craftcms.com/docs/4.x/queue.html',
}) %}

<div id="message" class="flex-fields hidden">

    {{ forms.selectField({
        label: 'Message Type'|t('notifier'),
        instructions: 'What type of message will be sent?'|t('notifier'),
        id: 'messageType',
        name: 'messageType',
        options: {'':''}|merge(notificationOptions.messageType),
        value: notification.messageType,
        toggle: true,
        targetPrefix: '.message-type-',
    }) }}

    {% include 'notifier/notifications/_edit/message/email' %}
    {% include 'notifier/notifications/_edit/message/sms' %}
    {% include 'notifier/notifications/_edit/message/announcement' %}
    {% include 'notifier/notifications/_edit/message/flash' %}

</div>
