{% import '_includes/forms' as forms %}

<div class="message-type-sms hidden">
    {{ forms.selectField({
        label: "User's Phone Number Field"|t('notifier'),
        instructions: fieldInstructions|t('notifier', {'type' : 'phone number'}),
        id: 'messageConfig-smsField',
        name: 'messageConfig[smsField]',
        value: (notification.messageConfig.smsField ?? null),
        options: notificationOptions.smsField,
    }) }}

    <hr>

    {% include 'notifier/notifications/_edit/message/docs-links' %}

    {{ forms.textareaField({
        label: "SMS Message Body"|t('notifier'),
        instructions: "Message to be sent via SMS (text message).",
        placeholder: commonPlaceholder,
        rows: 3,
        id: 'messageConfig-smsMessage',
        name: 'messageConfig[smsMessage]',
        value: (notification.messageConfig.smsMessage ?? null),
        errors: notification.getErrors('messageConfig[smsMessage]'),
    }) }}

    <hr>

    {{ forms.lightswitchField({
        label: "Send Message via Queue"|t('notifier'),
        instructions: queueInstructions,
        id: 'messageConfig-smsQueue',
        name: 'messageConfig[smsQueue]',
        offLabel: 'Send immediately',
        onLabel: 'Add to queue',
        on: (notification.messageConfig.smsQueue ?? true),
    }) }}
</div>
