{% import '_includes/forms' as forms %}

<div class="message-type-sms hidden">
    {{ forms.textareaField({
        label: "SMS Message"|t('notifier'),
        instructions: commonInstructions,
        placeholder: commonPlaceholder,
        rows: 3,
        id: 'messageConfig-smsMessage',
        name: 'messageConfig[smsMessage]',
        value: (notification.messageConfig.smsMessage ?? null),
        errors: notification.getErrors('messageConfig[smsMessage]'),
    }) }}

    {{ forms.lightswitchField({
        label: 'Send Message via Queue'|t('app'),
        instructions: queueInstructions,
        id: 'messageConfig-smsQueue',
        name: 'messageConfig[smsQueue]',
        offLabel: 'Send immediately',
        onLabel: 'Add to queue',
        on: (notification.messageConfig.smsQueue ?? true),
    }) }}
</div>
