<div class="recipients-type-all-admins hidden">
    <p>Message will be sent to all Users with Admin permissions.</p>
    <div class="readable">
        <blockquote class="note tip">
            {% include 'notifier/notifications/_edit/recipients/message-types/note/template-filtering' %}
        </blockquote>
    </div>
</div>
