<div class="recipients-type-all-users hidden">
    <div class="readable">
        <blockquote class="note warning">
            <p>PLEASE USE WITH CARE!</p>
        </blockquote>
    </div>
    <p>Message will be sent to all Users in the system.</p>
    <div class="readable">
        <blockquote class="note tip">
            {% include 'notifier/notifications/_edit/recipients/message-types/note/template-filtering' %}
        </blockquote>
    </div>
</div>
