<div class="recipients-type-current-user hidden">
    <p>Sends the message to <strong>only the User who triggers the event.</strong></p>
    <p>No message will be sent if the event is triggered anonymously (for example, via command line).</p>
</div>
