{% import '_includes/forms' as forms %}

<div id="recipients" class="flex-fields hidden">

    {% include 'notifier/notifications/_edit/recipients/message-types/none' %}
    {% include 'notifier/notifications/_edit/recipients/message-types/common' %}
    {% include 'notifier/notifications/_edit/recipients/message-types/announcement' %}
    {% include 'notifier/notifications/_edit/recipients/message-types/flash' %}

</div>
