{% import '_includes/forms' as forms %}

{# Get selected User IDs #}
{% set userIds = (notification.recipientsConfig.users ?? []) %}

{# Get selected Users #}
{% set users = craft.users.id(userIds).all() %}

<div class="recipients-type-selected-users hidden">
    {{ forms.elementSelectField({
        label: "Select User(s)"|t('notifier'),
        instructions: "Which users will receive the message?"|t('notifier'),
        id: 'recipientsConfig-users',
        name: 'recipientsConfig[users]',
        elementType: 'craft\\elements\\User',
        elements: users,
        selectionLabel: "Add a message recipient"|t('notifier'),
    }) }}
    <div class="readable">
        <blockquote class="note tip">
            {% include 'notifier/notifications/_edit/recipients/message-types/note/active-users-only' %}
        </blockquote>
    </div>
</div>
